language: node_js
node_js: 
  - 13

services:
  - docker 

install:
  - echo "nothing needs installation"

before_script:
  - echo "no tests"
  - docker system prune --all --force  # Well, just in case

script: 
  - docker --version
  - docker build -t udagram-api-feed ./udagram-api-feed
  - docker tag udagram-api-feed remidoragon/udagram-api-feed

  - docker build -t udagram-api-user ./udagram-api-user
  - docker tag udagram-api-user remidoragon/udagram-api-user

  - docker build -t udagram-frontend ./udagram-frontend
  - docker tag udagram-frontend remidoragonr/udagram-frontend

  - docker build -t reverseproxy ./udagram-reverseproxy
  - docker tag reverseproxy remidoragon/reverseproxy

after_success:
  - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin
  - docker push remidoragon/udagram-api-feed
  - docker push remidoragon/udagram-api-user
  - docker push remidoragon/udagram-frontend
  - docker push remidoragon/reverseproxy
  - echo "Images push done"